body {
    font-family: Georgia;
}

#lewy {
    background-color: Maroon;
    color: white;
    height: 600px;
    width: 30%;
    float: left;
}

#prawy {
    background-color: Maroon;
    color: white;
    height: 600px;
    width: 70%;
    float: right;
    overflow: auto;
}

footer {
    background-color: DimGray;
    color: white;
    clear: both;
}

#prawy img, #prawy ul {
    display: inline-block;
    vertical-align: top;
}

#prawy p {
    clear: both;
}

p {
    padding: 10px;
}

img {
    padding: 10px;
    border: 1px solid white;
}

#indigo {
    background-color: Indigo;
}

#steelblue{
    background-color: SteelBlue;
}

#olive{
    background-color: Olive;
}
